.btn-play, 
.btn-pause {
    position: fixed;
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}



.btn-play {

    @include respond(xs-sm){
        position: absolute;
        right: 6rem;
        bottom: 50%;
    }

}