.display {
    
    padding: 2rem;

    span {
        color: #ccc;
    }
   
    &__digits {
        display: inline-block;
        text-align: center;
        font-size: 3.5rem;

        @include respond(gt-sm){
            font-size: 4.5rem;
        }

        &:not(:last-child){
            margin-right: 1rem;
        }
    }

    &-active span{
        color: $color-primary;
    }

    &__msg {
        text-transform: uppercase;
        color: $color-accent;
        font-size: 3.5rem;
        font-weight: 300;
        text-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);

        @include respond(gt-sm){
            font-size: 4.5rem;
        }
    }
}