.countdown-input {

    padding: 2rem;
    height: 100vh;

    &__keypad {
        height: 10rem;
        width: 100%;
        padding-top: 2rem;
        
        &__btn {
            font-size: 3.5rem;
        }
    }
}

.divider {
    width: 100%;
}


