<!-- ===================================================================== 
  =============================== DISPLAY ================================-->
<div class="display" [ngClass]="{'display-active': input.length > 0}">
  <div class="display__digits">
    <span>{{input | computeDigit: 6}}</span>
    <span>{{input | computeDigit: 5}}</span>
    <span>h</span>
  </div>
  <div class="display__digits">
    <span>{{input | computeDigit: 4}}</span>
    <span>{{input | computeDigit: 3}}</span>
    <span>m</span>
  </div>
  <div class="display__digits">
      <span>{{input | computeDigit: 2}}</span>
      <span>{{input | computeDigit: 1}}</span>
      <span>s</span>
  </div>
  <button (click)="onDelete()" class="u-btn display__clear-btn">
    <i class="material-icons">backspace</i>
  </button>
</div>
<div class="msg-box" *ngIf="invalid">
    <span class="u-alert">Invalid input!</span>
</div>
<mat-divider></mat-divider>

<!-- ==================================================================== 
  =============================== KEYPAD ================================-->
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let num of numbers">
    <button (click)="onKeyPressed(num)" class="u-btn keypad-btn">{{num}}</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <button (click)="onKeyPressed(0)" class="u-btn keypad-btn">0</button>
  </mat-grid-tile>
</mat-grid-list>

<!-- ====================================================================== 
  =============================== PLAY BTN ================================-->
<div class="btn-box" *ngIf="input.length > 0">
    <button mat-fab color="primary" (click)="onPlayBtnClicked()">
      <i class="material-icons">play_arrow</i>
    </button>
</div>

