<section class="countdown-output" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner 
    [value]="progress" 
    [color]="primary"
    [diameter]="250"
    [strokeWidth]="4"></mat-progress-spinner>
  <div class="display">
    <div class="display__digits" *ngIf="progress<100; else message">
        <span>{{timeLeft.hours | formatDigit}}</span>
        <span>:</span>
        <span>{{timeLeft.minutes | formatDigit}}</span>
        <span>:</span>
        <span>{{timeLeft.seconds | formatDigit}}</span>
    </div>
    <ng-template #message>
      <div class="display__msg">On Air</div>
    </ng-template>
  </div>
  <div class="btn-pause" >
      <button mat-fab color="primary" (click)="pauseCount()">
        <i class="material-icons" *ngIf="progress<100; else chevron">pause</i>
        <ng-template #chevron>
          <i class="material-icons">chevron_left</i>
        </ng-template>
      </button>
  </div>
</section>
